body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 400 15px/1.8 Georgia, Palatino, serif;
    overflow-x: hidden;
    color: #2E2D2D;
}

.bg-img {
    background-image: url(../img/pexels-photo-341372.jpeg);
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-img-all {
    min-height: 30%;
    background-image: url('../img/pexels-photo-341372.jpeg');
    background-size: cover;
    background-position: center;
}

nav {
    background: rgba(244, 244, 244, 0.40);
    box-shadow: none;
}

.brand-logo {
    text-shadow: 2px 1px rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
}

.dropdown-button {
    color: rgba(60, 60, 77, 0.8);
}

#drop-nav li a,
#nav-mobile li a {
    text-transform: uppercase;
}

#nav-mobile li a {
    font-weight: bold;
}

.showcase .container {
    width: 100%;
    margin-top: 150px;
    background: rgba(74, 75, 92, 0.45);
    color: #f4f4f4;
    padding: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.showcase .container p {
    font-size: 20px;
}

.services {
    border-top: 5px rgba(60, 60, 77, 0.5) solid;
}

.header {
    background: rgba(74, 75, 92, 0.35);
    text-shadow: 3px 3px #263238;
    padding: 51px;
    margin: 0;
    text-transform: uppercase;
}

.about .container .content {
    margin: 40px 0;
}

.contact .container .content {
    margin: 50px 0;
}

.gallery .container .content {
    margin: 40px 0;
}

.carousel {
    margin-bottom: 40px;
}

.materialboxed {
    margin: 10px 0;
}

.social-media-buttons {
    padding: 20px;
}


/* MEDIA QUERIES */

@media (max-width: 768px) {
    .showcase .container h2 {
        font-size: 49px;
    }
    .showcase .container p {
        font-size: 15px;
    }
    .header {
        font-size: 50px;
    }
}